.background {
    background-image: url(../images/bg-desktop.png);
    background-repeat: no-repeat;
    width: $width;
    height: $width;
    margin-top: -36px;
    @include Mobile{
    background-image: url(../images/bg-mobile.png);
    margin-top:  -539px;
    }
}
footer {
    height: 0;
    @include Mobile{
        height:$padmarg * 2 + 4;
    }
}

