*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    height: 617px;
}

.fullContainers {
    background-color: $fifth-color;
    height:$width;
    width: $width;
    margin: auto;
    overflow: hidden;
    margin-top:$padmarg - 2 ;
    @include Mobile{
        height: $width;
        margin-top:$padmarg - 2 ;
    }
}

.Containers {
    width: $width - 29 ;
    margin: $padmarg * 4 auto;
    display: flex;
    position: relative;
    bottom: $padmarg * 8;
    transform: translate(0, 57%);
    @include Mobile{
        flex-direction: column;
        transform: translate(0, 62%);
        bottom: 281px;
    }
}